/*
** Top Class Uniforms resource file (resource.rc)
**
*************************************************************************
** MIT License
**
** Copyright (c) 2019 Mthandazo J.J. Ncube, Ropafadzo Siziba, Bruce Chimoyo, Kennedy J.J. Maturure,  Alec Musasa, Wallis T. Makurumidze
**
** Permission is hereby granted, free of charge, to any person obtaining a copy
** of this softwareand associated documentation files(the "Software"), to deal
** in the Software without restriction, including without limitation the rights
** to use, copy, modify, merge, publish, distribute, sublicense, and /or sell
** copies of the Software, and to permit persons to whom the Software is
** furnished to do so, subject to the following conditions :
**
** The above copyright noticeand this permission notice shall be included in all
** copies or substantial portions of the Software.
**
** THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
** IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
** FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.IN NO EVENT SHALL THE
** AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
** LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
** OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
** SOFTWARE.
**
*************************************************************************
** Project Details:
**
** National University of Science and Technology
** SCS2104 Structured System Analysis and Design 2019
** Group 4: Mthandazo, Ropafadzo, Bruce, Kennedy, Alec, Wallis
*/

#include "resource.h"

ico_resource	ICON	"resources/ico/icon.ico"
icon_16			PNG		"resources/png/icon_16.png"
icon_20			PNG		"resources/png/icon_20.png"
icon_24			PNG		"resources/png/icon_24.png"
icon_28			PNG		"resources/png/icon_28.png"
icon_32			PNG		"resources/png/icon_32.png"

png_error		PNG		"resources/png/error.png"
png_user		PNG		"resources/png/user.png"
png_orders		PNG		"resources/png/orders.png"
png_people		PNG		"resources/png/people.png"
png_items		PNG		"resources/png/items.png"
png_settings	PNG		"resources/png/settings.png"
png_back		PNG		"resources/png/back.png"
png_add			PNG		"resources/png/add.png"
png_edit		PNG		"resources/png/edit.png"
png_del			PNG		"resources/png/delete.png"
