/*
** Top Class Uniforms Version Resource File (version_info.rc)
**
** This code may not be copied, modified or distributed without the
** express written permission of the author(s). Any violation shall
** be prosecuted to the maximum extent possible under law.
**
*************************************************************************
** Project Details:
**
** National University of Science and Technology
** SCS2104 Structured System Analysis and Design 2019
** Group 4: Mthandazo, Ropafadzo, Takura, Kennedy, Alec, Wallis
**
*/

#include "version_info.h"

1 VERSIONINFO
 FILEVERSION appmajor, appminor, apprevision,0
 PRODUCTVERSION appmajor, appminor, apprevision,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x0L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000904b0"
        BEGIN
            VALUE "FileDescription", appdescription
            VALUE "FileVersion", appversion
            VALUE "InternalName", appname
            VALUE "LegalCopyright", appcopyright
            VALUE "OriginalFilename", appfilename
            VALUE "ProductName", appname
            VALUE "ProductVersion", appversion
			VALUE "Comments", appcomments
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x9, 1200
    END
END
